<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới User</title>
</head>
<body>
<h1 style="color: mediumblue">Điền đầy đủ thông tin vào form</h1>
    <form action="" method="post" th:object="${user}">
        <div>
            <label>Name</label><br>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Age</label><br>
            <input type="number" th:field="*{age}">
        </div>
        <div>
            <label>Gender</label><br>
            <input type="radio" th:field="*{gender}" value="Nam">Nam
            <input type="radio" th:field="*{gender}" value="Nữ">Nữ
        </div>
        <div>
            <label>Email</label><br>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>

        <th:block>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p>
        </th:block>

    </form>
</body>
</html>